#content-about {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 45px);
}

@media (max-width: 600px) {
    #content-about {
        flex-direction: column !important;
        height: 100% !important;
    }

    #content-about img {
        width: 135px !important;
    }
}

#card {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#content-about img {
    width: 170px;
    border-radius: 4px;
}

.about-skill {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // flex: 1;
    margin: 5px 0 5px 0;
    width: 80%;
}

.about-skill strong {
    font-size: 18px;
}

.about-skill span {
    -webkit-animation: roll-in-right .8s ease-out both;
    animation: roll-in-right .8s ease-out both;
}

.about-text {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    line-height: 1.4;
}

.about-text strong {
    color: #0094a8;
    transition: 0.5s;
}

.about-text strong:hover {
    cursor: pointer;
    filter: brightness(0.8);
}
