#__replain_widget {
  width: 35vw !important;
  height: 45vh !important;
  bottom: 4px !important;
  right: 4px !important;
}

#__replain_widget_iframe {
  border-radius: 8px;
}

@media (max-width: 600px) {
  #__replain_widget {
    width: 98% !important;
    height: 98% !important;
  }
}