.select-block .css-yk16xz-control {
    font-size: 1.2rem !important;
    border-color: #0094A8 !important;
}

.select-block .css-g1d714-ValueContainer {
    padding: 3px !important;
}

.select-block span {
    font-size: 1rem;
    margin-top: 8px;
}