#content-skills {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#content-skills .container {
    width: 100%;
    height: calc(100% - 70px);
}

.skills-button-new {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.skills-button-new .button-primary-block {
    width: 150px;
}
// @media (max-width: 600px) {
//     #content-dashboard .container {
//         display: flex !important;
//         flex-direction: column !important;
//     }

//     #content-dashboard .container .option-card {
//         margin: 10px 0;
//     }

//     #content-dashboard .option-card {
//         height: 60vw !important;
//         width: 60vw !important;
//     }
    
// }